<div class="password-change-container">
  <h1 class="password-change-title">비밀번호 수정</h1>

  <!-- Change Password Form -->
  <form class="password-change-form">
    <div class="form-group">
      <label for="password">비밀번호</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="비밀번호를 입력하세요"
        required />
      <small id="passwordError" class="helper-text"></small>
    </div>

    <div class="form-group">
      <label for="confirmPassword">비밀번호 확인</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="비밀번호를 한 번 더 입력하세요"
        required />
      <small id="confirmPasswordError" class="helper-text"></small>
    </div>

    <button type="button" id="passwordChangeButton" class="password-change-button" disabled>
      수정하기
    </button>
  </form>
  <div id="toastMessage" class="toast show">수정 완료</div>
</div>
