<div class="user-edit-container">
  <h1 class="user-edit-title">회원정보 수정</h1>

  <!-- User Edit Form -->
  <form class="user-edit-form">
    <div class="profile-edit">
      <label for="profileImage" class="profile-edit-placeholder">
        <p>프로필 사진*</p>
        <div class="image-container">
          <img id="previewImage" src="/image/placeholder.webp" alt="Profile" />
          <span class="change-text">변경</span>
        </div>
      </label>
      <input type="file" id="profileImage" accept="image/*" hidden />
    </div>

    <label for="email">이메일</label>
    <input type="email" id="email" name="email" placeholder="이메일을 입력하세요" required />

    <label for="nickname">닉네임</label>
    <input type="text" id="nickname" name="nickname" placeholder="닉네임을 입력하세요" required />

    <button type="button" id="userEditButton" class="user-edit-button" disabled>수정하기</button>
  </form>

  <div class="user-delete-link">
    <a href="/">회원 탈퇴</a>
  </div>

  <div id="toastMessage" class="toast show">수정 완료</div>
</div>
