.password-change-container {
  width: 80%;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.password-change-container .password-change-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  align-self: center;
}

.password-change-container .password-change-form {
  display: flex;
  flex-direction: column;
}

.password-change-form .form-group {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.password-change-form label {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  align-self: flex-start;
}

.password-change-form input {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.password-change-form .password-change-button {
  background-color: #aca0eb;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  cursor: not-allowed;
  font-family: inherit;
}

.password-change-form .password-change-button.active {
  background-color: #8f77e0;
  cursor: pointer;
}

.password-change-form .password-change-button:disabled {
  opacity: 0.5;
}
