<nav class="header">
  <div class="header__navigation">
    <button id="backward" onclick="history.back()">
      <i class="fas fa-chevron-left"></i>
    </button>
    <a class="title" href="/">아무 말 대잔치</a>
    <div class="profile-dropdown">
      <img id="profileImage" class="profile-image" src="/image/Kana.png" alt="Profile" />
      <div class="dropdown-menu" id="dropdownMenu">
        <a href="/user/edit">회원정보 수정</a>
        <a href="/user/change-password">비밀번호 수정</a>
        <a href="/">로그아웃</a>
      </div>
    </div>
  </div>
</nav>
