<div class="posts-container">
  <div class="posts-title">
    안녕하세요,<br />
    아무 말 대잔치 <span>게시판</span> 입니다.
  </div>
  <button id="createPostButton" class="create-post-button">게시글 작성</button>

  <!-- Post List With Template -->
  <div id="postList" class="post-list">
    <template id="post-template">
      <div class="post-card">
        <div class="post-header">
          <h2 class="post-title"><slot name="title"></slot></h2>

          <div class="post-content">
            <p class="post-info">
              좋아요 <slot name="likes"></slot> · 댓글 <slot name="comments"></slot> · 조회수
              <slot name="views"></slot>
            </p>
            <p class="post-date"><slot name="date"></slot></p>
          </div>
        </div>
        <div class="post-user">
          <img src="/image/placeholder.webp" class="post-profile" alt="Profile" />
          <span><slot name="author"></slot></span>
        </div>
      </div>
    </template>
  </div>
</div>
