<div class="post-edit-container">
  <h2 class="post-edit-title">게시글 수정</h2>
  <form class="post-edit-form">
    <label for="postTitle">제목*</label>
    <input type="text" id="postTitle" placeholder="제목을 입력하세요" class="post-title" />

    <label for="postContent">내용*</label>
    <textarea id="postContent" placeholder="내용을 입력하세요" class="post-content"></textarea>

    <label for="postImage">이미지</label>
    <div class="file-upload">
      <label>
        <input type="file" id="postImage" hidden />
        <span class="file-choose">파일 선택</span>
      </label>
      <span id="fileLabel">기존 파일 명</span>
    </div>

    <button id="postEdit">수정하기</button>
  </form>
</div>
