/* IMP : Contents 화면에 관련된 CSS 파일입니다 */
/* TODO : User / Post 기능에 따라, 화면 넓이에 대한 분기 */
@import url("user.css");
@import url("post.css");

.container {
  width: 25%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  /* justify-content: center; */
}
