/* IMP : User 기능과 관련된 CSS 파일입니다. */

/* TYPE : Login Page CSS */
@import url("user/login.css");

/* TYPE : Register Page CSS */
@import url("user/register.css");

/* TYPE : User Edit Page CSS */
@import url("user/user-edit.css");

/* TYPE : Change Password Page CSS */
@import url("user/change-password.css");

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #6200ee;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  display: none;
  font-family: inherit;
}

.toast.show {
  display: block;
}

.hidden {
  display: none;
}
